
#
# Module configuration file for
# Manual Compiler (com.eqela.manualcompiler)
#

displayname: Eqela Manual Compiler
description: Compile manual documents written in wiki-like markup to different file formats.
copyright: Copyright (c) 2014 Eqela Pte Ltd
moduletype: consoleapplication
depends: com.eqela.librichtextdocument
depends: com.eqela.libsql
depends: com.eqela.libsqlite
depends: com.eqela.libjson
